header{
	padding: 5px;
	background-color: gray;
	font-size: 20pt;

}

a {
    text-decoration: none;
    color: black;
    font-style: oblique;
}


a:visited {
    color: black;
}

a:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}

a:active {
    color: grey;
}

.dropdown {
    position: relative;
    display: inline-block;
     float: right;
     margin-right: 3%;

}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {background-color: #f1f1f1}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#visiting{
	color: white;
	text-shadow: 1px 1px 1px black;
}
footer {
    text-align: center;
    color: white;
    padding: 20px 0 20px 0;
    background-color: gray;
        }
footer a{
	font-style: normal;
}

#top{
    z-index: 20;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#refresh {
    z-index: 20;
    position: fixed;
    bottom: 70px;
    right: 10px;
}

#search{
	text-align: left;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	border-style: solid;
}
#search p{
	text-align: left;
}
[name="title"], [name="description"] {
    margin: 10px 0 10px 0;
    width: 99%;
}

#title,#description{
	text-align: left;
}
section{
	text-align: left;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	border-style: solid;
}
.result-photo{
	float: left;
	width: 100px;
    height: 100px;
}
.result-photo img{
	width: 90%;
    height: 90%;
    object-fit: cover;
}
.text-title{
	font-size: 15pt;
}
.text-text{
	margin-top: 10px;
	font-size: 10pt;
}
#page{
    text-align:center;
}